<!-- Définition de la sidebar -->

  <ul class="sidebar-tabs" role="tablist">
    <li><a href="#index" role="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="/search" role="tab"><i class="fa fa-search"></i></a></li>
    <li><a href="/geoloc" role="tab"><i class="fa fa-map-marker"></i></a></li>
    <li><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
    {% if is_granted('ROLE_ADMIN') %} <!-- Affichage de l'onglet d'administration pour les admintrateurs -->
        <li><a href="/admin" role="tab"><i class="fa fa-cog"></i></a></li>
    {% endif %}
    <li><a href="/logout" role="tab"><i class="fa fa-power-off"></i></a></li>
  </ul>

     
