{# Affichage de l'onglet géoloc de la sidebar #}

{% extends 'gendloc.html.twig'%}

{% block sidebar%}
<div id="sidebar" class="sidebar active">
  {{ include('sidebar_menu.html.twig') }}
  
  <!-- Tab panes -->
  <div class="sidebar-content collapsed">

    <!--tab GEOLOC-->
    <div class="sidebar-pane.active" id="geoloc">
      <h1>G&eacuteolocalisation</h1>

      <input id="phone" type="tel"></br></br>
      <select name="message">
	<option value="Geoloc">Geoloc</option>
	<option value="Tracking">Tracking</option>
	<option value="APN">Photo</option>
	<option value="APNV" disabled>Video</option>
	
      </select>
      <select name="lang">
	<option value="Français">Fran&ccedilais</option>
	<option value="Anglais" disabled >Anglais</option>
	<option value="Espagnol" disabled >Espagnol</option>
	<option value="Italien" disabled >Italien</option>
	<option value="Allemand" disabled >Allemand</option>
	<option value="Russe" disabled >Russe</option>
      </select></br></br>
      <form id="validite">
	<input type="radio" name="val" value="1" checked>2 HEURES
	<input type="radio" name="val" value="2">24 HEURES
	<input type="radio" name="val" value="3">DEFINITIF</br></br>
	<input type="button" onclick="sms()" value="ENVOYER SMS" >
      </form></br>
      <div id="res_sms"></div>
      <div id="res_gendloc"></div>
				
      <script>
      // script qui gère le champ "téléphone"
	$("#phone").intlTelInput({
	    defaultCountry: "auto",
            preferredCountries: ['fr', 'gb', 'it', 'de', 'es', 'ch'],
	    geoIpLookup: function(callback) {
	        $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
	            var countryCode = (resp && resp.country) ? resp.country : "";
	            callback(countryCode);
	        });
	    },
	    utilsScript: "./js/intl-tel-input/lib/libphonenumber/build/utils.js" // just for formatting/placeholders etc
	});
	
	// Fonction qui permet l'envoi du sms
	function sms(){

	    //récupération des valeurs
	    var telInput = $("#phone").intlTelInput("getNumber");
	    if (telInput) {
	 
            var val=$('input[name=val]:checked', '#validite').val()
            message = $("#geoloc").find( "select[name='message']" ).val(),
	        lang = $("#geoloc").find( "select[name='lang']" ).val();
	        url = "{{ path('sms_send') }}";
	        //Send the data using post
	        var posting = $.get( url, { message: message, lang: lang, val: val, tel: telInput}) ;
	        // Put the results in a div
	        posting.done(function( data ) {
                    var content = $( data );
                    $( "#res_sms" ).empty().append( content );
	        })
	    }
	}

	//Mise à jour données gendloc 
	$("#res_sms").load("{{ path('maj_sms')}}");
	setInterval(function(){
	$("#res_sms").load("{{ path('maj_sms')}}")
	}, 15000);
      </script>

    </div>
  </div>
</div>
{% endblock %}
